body {
  margin: 0;
  background-color: rgba(99, 99, 99, 0.39);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.entire-calculator {
  background-color: black;
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}

.top-portion {
  height: 150px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  border-radius: 25px;
}

.display {
  height: 100px;
  width: 350px;
  background-color: rgb(194, 191, 191);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.bottom {
  display: flex;
  flex-wrap: wrap;
}

.normal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
  border: solid;
  width: 70px;
  height: 70px;
  font-size: 36px;
  border-radius: 50%;
}

.equals-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  border: solid;
  height: 70px;
  width: 159px;
  font-size: 36px;
  border-radius: 25px;
}

.content {
  /* border: solid black 1px; */
  display: flex;
  justify-content: flex-end;
  margin: 8px;
  margin-right: 12px;
  font-size: 35px;
  padding-right: 10px;
  padding-bottom: 35px;
}

.content-top {
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  padding: 10px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 90px;
  width: 400px;
}

.operator-button {
  background-color: orange;
}

#clear,
#all-clear {
  background-color: brown;
}
